@page "/bloodtype"
@using Microsoft.AspNetCore.Components;
@using  System;

<h1 style="display:none;">@ChildContent</h1>
<div style="background-color:lightpink;display:@DisplayType">
    <div>
        <label><b><u>Blood Type Data:</u></b></label>
    </div>
    <div style="font-size:xx-small">
        <table class="table table-hover table-condensed table-bordered table-sm" style="font-size:xx-small">
            <tbody>
                @if (@bloodTypesList.Count > 0)
                {
                    @foreach (var u in GenderName)
                    {
                        <tr>
                            @for (int i = 0; i < @bloodTypesList.Where(x => x.Gender == @u.Gender).Count(); i++)
                            {
                                @if (i == 0)
                                {
                                    <td><b><u>@u.Gender.ToUpper().Trim()</u></b></td>
                                }
                                else
                                {
                                    <td></td>
                                }
                            }
                        </tr>
                        <tr>
                            @for (int i = 0; i < @bloodTypesList.Where(x => x.Gender == @u.Gender).Count(); i++)
                            {
                                <td><b>@bloodTypesList.Where(x => x.Gender == @u.Gender).Skip(i).Take(1).FirstOrDefault().BloodType.Trim()</b></td>
                            }
                        </tr>
                        <tr>
                            @for (int i = 0; i < @bloodTypesList.Where(x => x.Gender == @u.Gender).Count(); i++)
                            {
                                <td>@bloodTypesList.Where(x => x.Gender == @u.Gender).Skip(i).Take(1).FirstOrDefault().BloodTypeTotalCount.ToString("#,##0")</td>
                            }
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

@functions {
    [Serializable]
    public class BloodTypes
    {
        public string Gender { get; set; }
        public string BloodType { get; set; }
        public int BloodTypeTotalCount { get; set; }
    }

    private List<BloodTypes> GenderName = new List<BloodTypes>();

    public List<BloodTypes> _bloodTypesList = new List<BloodTypes>();

    [Parameter]
    private RenderFragment ChildContent { get; set; }


    [Parameter]
    public IReadOnlyList<BloodTypes> bloodTypesList
    {
        get { return _bloodTypesList; }
        set
        {
            if (value.Count > 0)
            {
                
                _bloodTypesList = value.ToList();

                GenderName = _bloodTypesList.GroupBy(x => new { x.Gender })
                .Select(r => new BloodTypes
                {
                    Gender = r.Key.Gender
                })
                .OrderBy(r => r.Gender).ToList();
                ToggleDisplay(true);
                onBloodTypes();
            }
        }
    }

    List<BloodTypes> onBloodTypes()
    {
        ToggleDisplay(true);
        return _bloodTypesList.ToList();
    }


    string DisplayType { get; set; }

    private string ToggleDisplay(bool spinnerOn)
    {
        DisplayType = (spinnerOn) ? "block;" : "none;";
        return DisplayType;
    }

    protected override void OnInit()
    {
        ToggleDisplay(false);
    }
}


